.App {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family:'Times New Roman', Times, serif ,Helvetica, ui-rounded,Arial, sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}
*{
  font-family:'Times New Roman', Helvetica,ui-rounded,Arial,  sans-serif  !important;

}
.content-wrap{
  flex: 1;
}
