
.homeContainer {
    width: 50%;
    border: 1px solid black;
    margin-top: 1em;
    margin-left: 1em;
    border-radius: 1em;
    height: 20em;
}
.Home-head{
    display: -ms-flexbox;
    display: flex;
    margin: 12px;
    -ms-flex-pack: center;
    justify-content: center;
   
    left: 15%;
    position: absolute;
    top: 60%;
    /* border: 2px solid green; */
    background: rgba(180, 243, 250, 0.2) !important;
    padding-top: 12px;
   
}


.check-in{
    margin-right: 12px;
    padding-top: 15px;
    display: flex;
    justify-content: center;
    border: 1px solid;
    background: black;
    color: white;
    padding: 12px;
}
.pin{
    display: flex;
}
.pin-des{
    padding-left: 4px;
}
.wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% 60%;
    grid-template-columns: 50% 50% !important;
    grid-gap: 1em;
    grid-auto-rows: minmax(100px, auto);
    margin-left: 210px;
}
.nameDes{
    margin-top: -5px;
    margin-left: -2em;
}
.childWrapper{
    grid-template-columns: 30% 30% !important;
}
.viewDetails{
    margin-right: -100px !important;
    margin-top: 25%;
    margin-left: 68%;
}
.Booknow-button{
    margin-left: -109px;
    margin-top: -36px;
}
.roomDetails{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
}
.ImageTile{
        width: 100% !important;
        max-height: 100%;
        height: 182px !important;
}
.decre{
    margin-left: 28px;
}
.a-decre{
    margin-left: 33px;
}
.c-decre{
    margin-left: 15px;
}
.incre{
    margin-left: 3px;
}
.a-incre{
    margin-left: 3px;
}
.c-incre{
    margin-left: 2px;
}

@media only screen and (max-width:768px){
    .homeDiv{
        padding: 5px 0;
        flex-wrap: wrap;
        margin-bottom: 8vh;
    }
}