
.homeContainer {
    width: 50%;
    border: 1px solid black;
    margin-top: 1em;
    margin-left: 23em;
    border-radius: 1em;
    height: 20em;
}
.Home-head{
    display: -ms-flexbox;
    display: flex;
    margin: 12px;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 60%;
    /* border: 2px solid green; */
    background: rgba(180, 243, 250, 0.2) !important;
    padding-top: 12px;
    border-radius: 22px;
   
}
.e-date-range-wrapper{
    margin-bottom: 1% !important;
    border: 1px solid black !important;
    padding: 10px !important;
    background-color: rgba(162, 255, 250, 0.4) !important;
    border-radius: 22px !important;
    
}
::-webkit-input-placeholder {
    color:black !important;
    font-weight: 700 !important;
}
.dateError .e-date-range-wrapper {
    border: 1px solid red !important;
  }
  
.roomRange{
    width: 250% !important;
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    /* padding-right: 16px !important; */
    border-radius: 22px !important;
    background-color: rgba(162, 255, 250, 0.4) !important;
    margin-bottom: 10px !important;
    border: 1px solid black !important;
}
.pin{
    display: flex;
}
.pin-des{
    padding-left: 4px;
}
.wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% 60%;
    grid-template-columns: 50% 50% !important;
    grid-gap: 1em;
    grid-auto-rows: minmax(100px, auto);
    margin-left: 210px;
}
.nameDes{
    margin-top: -5px;
    margin-left: -2em;
}
.childWrapper{
    grid-template-columns: 30% 30% !important;
}
.roomText{
    width: 0%;
}
.menu-drop{
    padding:5px
}
.viewDetails{
    margin-right: -100px !important;
    margin-top: 25%;
    margin-left: 68%;
}
.Booknow-button{
    margin-left: -109px;
    margin-top: -36px;
}
.roomDetails{
    align-items: center;
    justify-content: center;
    width: 10%;
    margin-left: 2%;
    margin-right: 2%;
}
.ImageTile{
        width: 100% !important;
        max-height: 100%;
        height: 182px !important;
}
.decre{
    margin-left: 28px;
}
.a-decre{
    margin-left: 33px;
}
.c-decre{
    margin-left: 15px;
}
.incre{
    margin-left: 3px;
}
.a-incre{
    margin-left: 3px;
}
.c-incre{
    margin-left: 2px;
}
.checkButton{
    margin-top: 5px;
    padding-right: 12px;
}

@media only screen and (max-width:768px){
    .homeDiv{
        padding: 5px 0;
        flex-wrap: wrap;
        margin-bottom: 8vh;
    }
}