.displayOne {
  font-family: "Montserrat", sans-serif !important;
}
.wrapperOne {
  display: grid;
  grid-template-columns: 40% 60% !important;
  grid-gap: 1em;
  /* grid-auto-rows: minmax(100px, auto) !important; */
  margin-left: 0%;
}

.wrapperOne > div {
  padding: 1em;
}

.ImageTileOne {
  /* object-fit: cover; */
  width: 80% !important;
  height: 85% !important;
  max-height: 85% !important;
}
.ImageTileOne img {
  width: 100%;
  height: 100%;
}
.wrapImageOne > img {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
}
.wrapImageOne > img {
  padding: 1em;
  height: 50vh;
  width: 100%;
}
p {
  color: black;
  background: none;
  font-size: medium;
}
.childWrapperOne {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 55% 45%;
  grid-gap: 2em;
  grid-auto-rows: minmax(100px, auto);
}

.childWrapperOne p {
  color: black;
  background: none;
}
/* .img {
  height: 80% !important;
} */
/* .price {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around;
}
.price h1 {
  margin: 0%;
} */
.thebutton {
  cursor: pointer;
  border-radius: 2px;
  width: 30px;
  height: 30px;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif !important;
}

.priceh2 {
  display: inline-block;
}
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child {
  margin-left: 50px;
}
.price {
  display: grid;
}
.block1 p {
  margin-left: 20px;
}
.block1 h2 {
  margin-left: 20px;
}
.button-price,
.reserve {
  margin-left: 20px;
}
.reserve:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.reserve {
  background-image: linear-gradient(
    to right,
    #f5bf75 0%,
    #e7d08c 51%,
    #e9dcca 100%
  );
}
.reserve {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: black;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  border: none;
}

.reserve:hover {
  background-position: right center; /* change the direction of the change here */
  color: brown;
  text-decoration: none;
}
.thebutton {
  background-image: linear-gradient(
    to right,
    #f5bf75 0%,
    #e7d08c 51%,
    #e9dcca 100%
  );
  color: black;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  border: none;
}
.reserve-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  flex-wrap: nowrap;
  margin-left: 15px;
}
/* .reserve-content span {
  margin-left: -34px !important;
} */

.reserve-content div {
  display: flex;
}
.reserve-content div h3 {
  margin: 0;
  padding: 5px;
}

.facilities {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  /* align-items: stretch; */
  /* margin-top: 5%; */
}

/* Super AC
Bar
Pet Friendly
Swimming pool
Free Cancellation
Fitness Center
Health CLub
Jacuzzi
Sanetized

Delux AC
Free Cancellation
Fitness Center
Sanetized
Room service
Free Breakfast
Free Wifi
Sanetized

Standard AC
Room service
Free Breakfast
Free Wifi
Sanetized

siickm */
.icon {
  margin-right: 4px;
  margin-left: 1px;
}
.btn-placement {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: flex-end;
  align-items: center;
  margin-right: 11.5%;
}
.total-price {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 12%;
}
