.displayOne {
  background: #f3f3f3 !important;
}
.homeContainerOne {
  width: 80%;
  margin-top: 1em;
  margin-left: 7em;
  border-radius: 1em;
  height: 20em !important;
  margin-bottom: 3em;
  background-color: white !important ;
  box-shadow: 10px 10px 5px #aaaaaa;
  font-family: "Times New Roman", Helvetica, ui-rounded, Arial, sans-serif !important;

  font-size: 16px;
  transition: transform 0.2s;
}
.homeContainerOne:hover {
  -ms-transform: scale(0.01); /* IE 9 */
  -webkit-transform: scale(0.01); /* Safari 3-8 */
  transform: scale(1.01);
}
.wrapperOne {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
  grid-template-columns: 45% 55% !important;
  grid-gap: 0em;
  /* grid-auto-rows: minmax(100px, auto); */
  margin-left: 210px;
  margin-right: 5%;
}
.textInside {
  margin-left: -90px;
  margin-top: 30px;
  margin-right: 10px;
}

.ImageTileOne {
  width: 100% !important;
  max-height: 106%;
  height: 244px !important;
  margin-left: -175px;
  margin-top: 39px;
  /* border-radius: 0.9em; */
  /* transition: transform 0.2s; */
  /* box-shadow: 10px 10px 5px #aaaaaa; */
}

.displayDivide {
  display: grid;
  grid-template-columns: 40% 60%;
  margin-top: 4% !important;
}
.facilities {
  display: flex;
  flex-direction: column;
}
.facilities div {
  display: flex;
}
.roomdiv {
  display: flex;
  margin-top: 2%;
}
.roomdiv h2 {
  margin: 0% !important;
  font-weight: 300;
}
.roomdiv h3 {
  margin-top: -1px !important;
}

.thebutton {
  display: inline-block;
  padding: 0.3em 0.6em;
  margin: 0 0.2em 0.2em 0;
  /* border-radius: 0.7em; */
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Times New Roman", Helvetica, ui-rounded, Arial, sans-serif !important;

  font-weight: 700;
  /* color: rgb(12, 11, 11);
  background: #c4cec6ad; */
  color: white;
  /* background: #3191c7; */
  /* background: rgba(64, 190, 190, 0.8); */
  /* box-shadow: 4px 4px 12px #1b1c1d; */
  text-align: center;
  position: relative;
  border: none;
  height: 20% !important;
  background-color: rgb(8 105 117) !important;
  /* background-color: rgba(117, 162, 179, 0.8) !important; */

  /* box-shadow: 4px 4px 12px #eee; */
}
/* .thebutton:active {
  box-shadow: inset 0 0.6em 2em -0.3em rgba(0, 0, 0, 0.15),
    inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
} */
label {
  display: flex;
  margin-bottom: 0.5rem;
  /* margin-top: 0.9rem; */
  align-items: center;
  justify-content: flex-start;
}
label input {
  margin-left: 0.4em;
}
.price-margin {
  margin-top: 0.1em;
  margin-left: 0.3em;
}
.textInside p {
  text-align: justify;
}
.button-price {
  margin-left: 60% !important;
}
.icon-p {
  margin-left: 10.8px;
}
h2 {
  font-weight: 700;
  font-family: "Times New Roman", Helvetica, ui-rounded, Arial, sans-serif !important;
}
h4,
h3,
h5,
h6 {
  font-weight: 100 !important;
  font-family: "Times New Roman", Helvetica, ui-rounded, Arial, sans-serif !important;
}

.btn-placement {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
  margin-top: 1.5%;
  /* margin-right: 7.5%; */
}
.lastDiv {
  padding-bottom: 5%;
}
.ui.inverted.green.button {
  font-weight: 700;
  font-size: 17px;
  font-family: "Times New Roman", Helvetica, ui-rounded, Arial, sans-serif !important;
}
.include-food label {
  margin-bottom: 6px;
}
.include-food{
  margin-top: 6% !important;

}
.btn-placement .ui.button.reserve {
  /* display: inline-block !important; */
  padding: 0.9em 1.5em !important;
  /* margin: 0 0.1em 0.1em 0 !important; */
  /* border-radius: 0.7em !important; */
  box-sizing: border-box !important;
  text-decoration: none !important;
  font-family: "Times New Roman", Helvetica, ui-rounded, Arial, sans-serif !important;

  font-weight: 500 !important;
  border-radius: 0px !important;
  color: white !important;
  background: rgb(8 105 117) !important;
  /* background: #90b4c2 !important; */
  text-align: center !important;
  position: relative !important;
  border: none !important;

  font-size: 22px !important;
  margin-right: -6% !important;
}
.btn-placement .ui.button.reserve:hover {
  color: black !important;
  background-color: transparent !important;
  opacity: 0.7;
  border: 1px solid #565656 !important;
}
/* .reserve:active {
  box-shadow: inset 0 0.6em 2em -0.3em rgba(0, 0, 0, 0.15),
    inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12) !important;
} */
.total-price h3 span {
  margin-left: 61.5% !important;
  font-weight: 600;
  color: #0c6c6f;
}
.total-price h3 {
  margin-left: 34%;
  margin-bottom: 1%;
  font-size: 22px;
}
a.ui.button.reserve-left {
  border-radius: 0px !important;
}
.btn-placement div .ui.button {
  display: inline-block !important;
  padding: 0.9em 1.5em !important;

  box-sizing: border-box !important;
  text-decoration: none !important;
  font-family: "Times New Roman", Helvetica, ui-rounded, Arial, sans-serif !important;

  font-weight: 500 !important;

  color: white !important;
  background: rgb(8 105 117) !important;
  /* background: #90b4c2 !important; */
  border: none !important;

  text-align: center !important;
  position: relative !important;
  font-size: 22px !important;
  margin-left: -100% !important;
}
.btn-placement div .ui.button:hover {
  color: black !important;
  background-color: transparent !important;
  opacity: 0.7;
  border: 1px solid #565656 !important;
}
.containerBasic {
  background-color: rgb(8 105 116) !important;
  opacity: 0.7;
}
/* .reserve :hover,.reserve-left :hover{

} */
.displayContentTwo {
  margin-top: 0% !important;
}
.thebuttonRoom {
  display: inline-block;
  padding: 0.2em 0.8em;
  margin: 0 0.2em 0.2em 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Times New Roman", Helvetica, ui-rounded, Arial, sans-serif !important;

  font-weight: 700;
  color: black;
  text-align: center;
  position: relative;
  border: none;
  background-color: rgba(117, 162, 179, 0.8) !important;
}
.inside-button-price {
  display: flex;
}

.inside-button-price h3 {
  margin-top: 5px !important;
  margin-left: 6% !important;
  margin-right: 6% !important;
  margin-bottom: 5% !important;
}
.property-center {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
}
.property-center h3 {
  margin-top: 1px;
}
.property-center h1 {
  font-size: 3rem;
  color: #086974 !important;
}
.rate-container h5 {
  margin-left: 3px;
  margin-top: 11px;
  color: grey;
  font-size: 0.8rem;
}
.rate-container h2 {
  margin-bottom: 0px !important;
  color: #2f708a !important;
}
.rate-container {
  display: flex;
}
.rate-name {
  display: flex;
  justify-content: space-between;
}
.roomDescOne {
  margin-top: 2% !important;
}
.availableRoooms {
  display: flex;
  color: grey;
  font-size: 15px;
  flex-wrap: nowrap;
  justify-content: flex-end;
}
.roomtypeHead p {
  font-size: 25px !important;
  font-weight: 600 !important;
  color: #086974 !important;
  }
