/* .datepicker {
  width: 30% !important;
} */

.e-input-group:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left),
.e-input-group.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error)
  .e-input-in-wrap,
.e-input-group.e-control-wrapper:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error)
  .e-input-in-wrap,
.e-float-input.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error)
  .e-input-in-wrap,
.e-float-input.e-control-wrapper.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error)
  .e-input-in-wrap {
  width: 20% !important;
  /* color: brown; */
}
.container {
  margin: 2px;
  padding: 2px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
.e-input-group input.e-input,
.e-input-group textarea.e-input,
.e-input-group
  input.e-input:hover:not(.e-success):not(.e-warning):not(.e-error):not([disabled]):not(:focus),
.e-input-group
  textarea.e-input:hover:not(.e-success):not(.e-warning):not(.e-error):not([disabled]),
.e-input-group.e-control-wrapper input.e-input,
.e-input-group.e-control-wrapper textarea.e-input,
.e-input-group.e-control-wrapper
  input.e-input:hover:not(.e-success):not(.e-warning):not(.e-error):not([disabled]):not(:focus),
.e-input-group.e-control-wrapper
  textarea.e-input:hover:not(.e-success):not(.e-warning):not(.e-error):not([disabled]) {
  color: black;
}
.date-container {
  display: flex;
  flex-direction: row;
}
.reserve {
  margin: 10px !important;
  padding: 15px 45px !important;
  text-align: center !important;
  text-transform: uppercase !important;
  transition: 0.5s !important;
  background-size: 200% auto !important;
  color: black !important;
  box-shadow: 0 0 20px #eee !important;
  border-radius: 10px !important;
  display: block !important;
  border: none !important;
}

.reserve:hover {
  background-position: right center !important; /* change the direction of the change here */
  color: brown !important;
  text-decoration: none !important;
}
.reserve {
  margin-left: 20px !important;
  margin-bottom: 3% !important;
  /* margin-bottom: 10px; */
}
.reserve:hover {
  background-position: right center !important;
  color: #fff !important;
  text-decoration: none !important;
}

.reserve {
  background-image: linear-gradient(
    to right,
    #f5bf75 0%,
    #e7d08c 51%,
    #e9dcca 100%
  ) !important;
}
.btn-placement {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: flex-end;
  align-items: center;
  margin-right: 11.5%;
}
.total-price {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 12%;
}
