/* .datepicker {
  width: 30% !important;
} */
@import url("https://cdn.synfusion.com/ej2/material.css");
.basicLayoutClass {
  background: #f8f8ff !important;
}
.containerBasic {
  /* margin: 2px;
  padding: 2px; */
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width: 100%;
}
.e-date-wrapper {
  margin-bottom: 1% !important;
  border: 1px solid black !important;
  padding: 10px !important;
  /* border-radius: 22px !important; */
  width: 40% !important;
}
/* .e-input-group {
  width: 100% !important;
} */
.leftOne .e-input-group.e-control-wrapper {
  width: 100% !important;
}
.rightOne .e-input-group.e-control-wrapper {
  width: 60% !important;
}
.leftOne span input {
  color: rgb(3, 3, 3) !important;
}
.dateContainerTwo {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
.leftOne .newDatePicker.e-control.e-datepicker,
.rightOne .newDatePicker.e-control.e-datepicker {
  font-size: 16px;
}
.parentContainerDate {
  display: flex !important;
}

.roomDetailsTwo {
  width: 15% !important;
}
.roomDetailsTwo .d-flex button {
  border: 1px solid rgb(3, 3, 3) !important;
  width: 60% !important;
  /* border-radius: 24px !important; */
  padding: 6.5%;
  border-radius: 0px !important;
  /* background-color: transparent; */
  background-color: whitesmoke !important  ;
}
/* .roomDetailsTwo .d-flex button:hover {
  
} */
.dateContainerTwo {
  margin-top: 1% !important;
  margin-bottom: 1% !important;
}
.containerBasic {
  background: rgba(117, 162, 179, 0.8);
}
.img_tile_BL{
  width: 92%;
  margin-left: 1.25%;
  margin-top: 1%;
  box-shadow: 5px 9px 11px 5px lightslategrey;
  border-radius: 32px;
}