@import url("https://cdn.syncfusion.com/ej2/material.css");

.bookNowDiv {
  background: url("../../asset/bell.jpg");
  overflow: hidden;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  min-height: 100%;
}

.bookCard {
  width: 70% !important;
  margin-left: auto;
  background: rgba(209, 139, 139, 0.4);
}

.cardDiv {
  margin: 15% !important;
}
#rooms {
  display: flex;
  flex-direction: column;
  width: 15rem;
  margin-left: 10px !important;
  height: 3rem;
}
.ui.card,
.ui.cards > .card {
  background: rgba(100, 100, 100, 0.6) !important;
  border: none !important;
  margin-top: 50px !important;
  margin-bottom: 50px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.ui.card > .content,
.ui.cards > .card > .content {
  background: rgba(180, 243, 250, 0.2) !important;
  border: none !important;
}
#all-rooms {
  /* height: 20px !important; */
  width: 635px !important;
  border-radius: 0.5rem;
  margin-left: 10px !important;
  margin-bottom: auto !important;
  margin-top: auto !important;
  font-weight: 900;
  color: white;
}
#RoomNum {
  font-weight: 900;
}
.parent-div {
  display: grid;
  grid-template-columns: 53% 47% !important;
  grid-gap: 7em !important;
  grid-auto-rows: minmax(100px, auto);
  height: 70px;
  margin-left: 10px;
}
.ui.inverted.olive.button,
.ui.inverted.olive.buttons .button {
  background-color: olive !important;
  box-shadow: 0 0 0 2px #d9e778 inset !important;
  color: white !important;
  align-items: center !important;
}
.Text {
  color: white;
  font-weight: 900;
}
.date {
  height: 30px;
  width: 1180px !important;
  color: white;
}
.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
  opacity: 0.6 !important;
  font-size: medium !important;
  font-weight: 500 !important;
  text-align: center !important;
}
select {
  opacity: 0.6 !important;
  font-weight: 500 !important;
  padding: 4px !important;
}

.go {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 70px !important;
  margin-bottom: 16px;
  margin-top: 9px;
}
.e-input-group input.e-input,
.e-input-group textarea.e-input,
.e-input-group
  input.e-input:hover:not(.e-success):not(.e-warning):not(.e-error):not([disabled]):not(:focus),
.e-input-group
  textarea.e-input:hover:not(.e-success):not(.e-warning):not(.e-error):not([disabled]),
.e-input-group.e-control-wrapper input.e-input,
.e-input-group.e-control-wrapper textarea.e-input,
.e-input-group.e-control-wrapper
  input.e-input:hover:not(.e-success):not(.e-warning):not(.e-error):not([disabled]):not(:focus),
.e-input-group.e-control-wrapper
  textarea.e-input:hover:not(.e-success):not(.e-warning):not(.e-error):not([disabled]) {
  border: 0 solid;
  border-width: 0;
  font-weight: 500 !important;
  color: white;
}
.error {
  color: red;
  font-weight: 1000;
  /* margin-top: -5px;
    margin-bottom: 10px; */
  background-color: white;
  /* opacity: 0.7; */
  box-shadow: rosybrown;
}
.roomError {
  border: 2px solid red;
}
.dateError span {
  border: 2px solid red;
}
