.main-footer {
  color: white;
  background-color: #90b4c2;
  opacity: 0.;
  padding-top: 3em;
  position: relative;
  bottom: 0;
  width: 100%;
  color: black;
  font-weight: 900;
}
.col {
  padding-left: 95px !important;
}
.errorPost{
  color: #3b3b3c;
  border: 1px solid red;
  width: 50%;
  margin-left: 11em;
  /* background-color: dodgerblue; */
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 1.5em;
}