.Segment {
  display: flex;
  background: #5f2c82; /* fallback for old browsers */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
Menu {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

Menu.Item {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

a.right.item.active {
  color: aliceblue;
}
.ui.secondary.menu .active.item {
  background: transparent !important;
}
.About {
  font-size: 20px;
  font-weight: 600;
  margin-left: -40%;
  /* color: rgb(8, 105, 117);
   */
  color: white;
}
.headline {
  font-family: Arial, Helvetica, sans-serif !important;
}
.my-div {
  width: 100%;
  z-index: 1;
  /* background: url("./ImageHome9copy.jpeg") !important; */
}
.ui.menu:not(.vertical) .right.item,
.ui.menu:not(.vertical) .right.menu {
  display: flex;
  margin-left: auto !important;
  background: none !important;
}
@media (max-width: 990px) {
}
.logo img {
  width: 17%;
}
.logo p {
  font-weight: 600;
  font-size: 35px;
  /* color: rgb(8, 105, 117); */
  color: rgb(255 255 255);
  font-family: "Times New Roman", Times, serif !important;
}
