* {
  /* font-family: "Montserrat", sans-serif; */
}
p {
  color: antiquewhite;
  background-color: aqua;
}
Segment {
  display: flex;
}
Menu {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

Menu.Item {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}
.ui.segment:last-child {
  /* background-color: rgb(56, 195, 250); */
}

a.right.item.active {
  color: aliceblue;
}
.ui.secondary.menu .active.item{
  background: white !important;
}
.About{
  font-size: 17px;
  font-weight: 600;
}
.headline{
  font-family: ui-rounded !important;
}

@media (max-width: 990px) {
}
