* {
  font-family: ui-rounded;
}

Segment {
  display: flex;
}
Menu {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

Menu.Item {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

a.right.item.active {
  color: aliceblue;
}

@media (max-width: 990px) {
}
