Segment {
  display: flex;
  background: #5f2c82; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #49a09d,
    #5f2c82
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #49a09d,
    #5f2c82
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
Menu {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

Menu.Item {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

a.right.item.active {
  color: aliceblue;
}
.ui.secondary.menu .active.item {
  background: white !important;
}
.About {
  font-size: 17px;
  font-weight: 600;
}
.headline {
  font-family: ui-rounded !important;
}
.my-div{
  width: 102%;
}

@media (max-width: 990px) {
}
