/* Suraj css */
/* Suraj css */
.UPIContainer {
  display: flex;
  flex-direction: column;
  width: 30%;
  background: white;
  border-radius: 13px;
  margin-left: 2%;
  margin-bottom: 9%;
  margin-top: 2%;
  /* box-shadow: 4px 10px 11px; */
}

.UPIContents {
  margin-left: 7%;
  margin-top: 10%;
  margin-bottom: 51%;
  height: 88px;
}

.ui.input {
  font-size: 96%;
  width: 91%;
  border: none !important;
}

.UPIImage {
  margin-top: 12%;
  margin-left: 12%;
  /* margin-right: 0%; */
  width: 338%;
}

.PaymentButton {
  margin-left: 68%;
}
.PaymentButton .ui.payment button {
  background: darkblue !important;
  color: white !important;
}
/* .ui.button {
  background-color: cadetblue;
} */
/* 
.UPIHeading{
  margin-top: -8%;
  margin-left: 13%;
  margin-bottom: 10%;
  color: dodgerblue;
}

.UPIImage{ */
/* width: 7% !important;
  margin-left: 3% !important; */
/* margin-top: 4% !important;
}  */
/* 
.description{
  margin-top: -10%;
  margin-left: 13%;
  margin-bottom: 14%;
} */
/* Ayushi CSS */
.creditCardContainer {
  background-color: white;
  /* box-shadow: 10px 10px 5px #aaaaaa; */
  border-radius: 22px;
  width: 88%;
  padding: 3%;
  margin-top: 5%;
  /* margin-left: 30%; */
}
.cardNumber,
.forDivision {
  margin-bottom: 2%;
}
.cardNumber input,
.cardName input {
  border: 1px solid grey;
  border-radius: 4px;
  width: 58%;
  padding: 1.5%;
}
/* .cardNumber input ::placeholder {
color: grey !important;
} */
.forDivision {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  margin-top: 3%;
}
.monthContainer input {
  width: 33%;
  border-radius: 4px;
  border: 1px solid grey;
  padding: 2%;
}
.cvvContainer input {
  width: 45%;
  border-radius: 4px;
  border: 1px solid grey;
  padding: 4.5% !important;
}
.monthContainer select {
  width: 42% !important;
  background: white;
  border: 1px solid black;
  border-radius: 4px;
  width: 51%;
  padding: 1.5%;
  margin: 0.5%;
}
.monthContainer {
  margin-right: 2%;
  width: 44%;
}
.parentPayment {
  width: 70%;
  /* background: bisque; */
  padding: 3%;
  margin-left: 13%;
  margin-top: 4%;
  margin-bottom: 5%;
  background: white;
  border-radius: 22px;
  /* box-shadow: 10px 4px 4px; */
  box-shadow: 10px 10px 5px #aaaaaa;
}
.divideIntoTwo {
  display: grid;
  grid-template-columns: 30% 70%;
  margin-bottom: 4%;
}
.payButton button {
  margin-bottom: 1%;
  padding: 2%;
  background: white;
  width: 76% !important;
  border: none;
  border-radius: 5px;
}
.choiceOfPayment {
  margin-top: 12%;
}
.choiceHeading {
  margin-bottom: 8%;
  margin-left: 7%;
}

.payButton p {
  display: inline;
}
.payButton {
  margin-top: 20%;
  margin-left: 20%;
}
.payButtonTwo button {
  margin-bottom: 1%;
  padding: 2%;
  background: white;
  width: 76% !important;
  border: none;
  border-radius: 5px;
  margin-left: 16%;
}
.payButtonTwo p {
  display: inline;
}
.PaymentButton button {
  padding: 6% 8% !important;
  background: #4040d8 !important;
  color: white !important;
  font-size: 17px !important;
}

/* Ayushi CSS */
.creditCardContainer {
  background-color: white;
  /* box-shadow: 10px 10px 5px #aaaaaa; */
  border-radius: 22px;
  width: 100%;
  padding: 3%;
  margin-top: 12%;
  /* margin-left: 30%; */
}
.cardNumber,
.forDivision {
  margin-bottom: 2%;
}
.cardNumber input,
.cardName input {
  border: 1px solid grey;
  border-radius: 4px;
  width: 70%;
  padding: 1.5%;
}
/* .cardNumber input ::placeholder {
  color: grey !important;
} */
.forDivision {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  margin-top: 3%;
}
.monthContainer input {
  width: 33%;
  border-radius: 4px;
  border: 1px solid grey;
  padding: 2%;
}
.cvvContainer input {
  width: 45%;
  border-radius: 4px;
  border: 1px solid grey;
  padding: 2%;
}
.monthContainer select {
  width: 30% !important;
  background: white;
  border: 1px solid black;
  border-radius: 4px;
  width: 51%;
  padding: 3% !important;
  margin: 0.5%;
}
.monthContainer {
  margin-right: 2%;
  width: 52%;
}
/* .parentPayment {
  width: 70%;
  background: bisque;
  padding: 3%;
  margin-left: 20%;
  margin-top: 2%;
  margin-bottom: 5%;
  background: white;
  border-radius: 22px;
} */
.divideIntoTwo {
  display: grid;
  grid-template-columns: 30% 70%;
  margin-bottom: 4%;
}
.payButton button {
  margin-bottom: 9%;
  padding: 2%;
  background: white;
  width: 100% !important;
  border: none;
  border-radius: 5px;
}
.choiceOfPayment {
  margin-top: 12%;
}
.choiceHeading {
  margin-bottom: 8%;
  margin-left: -1%;
  color: darkblue;
}

.payButton p {
  display: inline;
  color: grey;
}
/* .payButton {
  margin-top: 20%;
  margin-left: 20%;
} */
.payButtonTwo button {
  display: flex;
  margin-bottom: 1%;
  padding: 2%;
  background: white;
  width: 100% !important;
  border: none;
  border-radius: 5px;
}
.payButtonTwo p {
  display: inline;
  color: grey;
  margin-top: -9%;
}
.payButtonTwo img {
  width: 22%;
}
.payButtonTwo {
  margin-left: -6%;
}
.imageAndUpi {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}
.imageAndCredit {
  display: flex;
}
.cardNumber label,
.cardName label,
.monthContainer label,
.cvvContainer label {
  font-size: 16px;
}
.parentPaymentFirst {
  margin-left: 12%;
}
/*SherinPOST*/

.main-head{
  margin-left: 29%;
  margin-bottom: -22%;
  margin-top: -7% !important;
}
.head-confirm{
  margin-top: -19% !important;
  margin-bottom: 13%;
  margin-left: 10%;
  width: 92%;
}
.modal-open {
  background: bisque;
  /* background: linear-gradient(to right, #485a61, #fffde4); */
  width: 35%;
  height: 73vh;
  margin-left: 16.5em;
  margin-top: 3em;
  padding: 3em;
  color: #272d2d;
  text-shadow: cornflowerblue !important;
  font-size: x-large;
  /* border-radius: 51px; */
}
.HotelModal{
  width: 100%;
  /* font-family: ui-rounded !important; */
  font-size: 76% !important;
  /* border: 1px solid !important; */
  padding-left: 7% !important;
  margin-right: -12% !important;
  padding-top: 4% !important;
  padding-bottom: 4% !important;
  margin-top: 23% !important;
  margin-left: -5% !important;
}
.i-p{
  margin-top: 4%;
  margin-bottom: -3%;
  font-weight: 900;
  font-size: 50%;
  margin-left: -60%;
  font-weight: bold;
}
.HotelModal p{
  margin-left: 50%;
  margin-top: -16%;
  padding: 3%;
}
.HotelModal label{
  display: flex;
  margin-bottom: 0.5rem;
  margin-top: 0.9rem;
  /* align-items: center; */
  /* justify-content: flex-start; */
  border: 1px solid;
  /* padding: 2%; */
  padding-left: 8%;
  padding-top: 3%;
  padding-bottom: 2%;
  margin-right: 5%;
  font-weight: 900;
  margin-left: 8%;
  box-shadow: 5px 3px 8px 1px darkgrey;
}
.bookNow {
  margin-top: 7%;
  /* margin-bottom: -25%; */
  margin-left: 3em;
  
}
.bookNow button {
  margin-right: -47px;
  margin-top: -25px;
  padding: 16px 30px;
  border: none;
  outline: none;
  color: #fff;
  background-color: rgba(57, 61, 63, 0.8);
  /* transition: all 0.3s; */
  font-size: 18px;
  cursor: pointer;
}
.bookNow button:hover {
  color: black !important;
  background-color: transparent;
  opacity: 0.7;
  border: 1px solid #565656;
}