/* Suraj css */
.UPIContainer{
    display: flex;
    flex-direction: column;
    width: 30%;
    background:white;
    border-radius: 13px;
    margin-left: 2%;
    margin-bottom: 9%;
    margin-top: 2%;
    /* box-shadow: 4px 10px 11px; */
}

.UPIContents{
    margin-left: 7%;
    margin-top: 10%;
    margin-bottom: 51%;
    height: 88px
}

.ui.input{
    font-size: 96%;
    width: 91%;

}

.UPIImage{
    margin-top: 12%;
    margin-left: 12%;
    /* margin-right: 0%; */
    width: 338%;
}

.PaymentButton{
    margin-bottom: 5%;
    margin-top: -7%;
    margin-left: 13%;

}

.ui.button{
    background-color: cadetblue;
}
/* 
.UPIHeading{
    margin-top: -8%;
    margin-left: 13%;
    margin-bottom: 10%;
    color: dodgerblue;
}

 .UPIImage{ */
    /* width: 7% !important;
    margin-left: 3% !important; */
    /* margin-top: 4% !important;
}  */
/* 
.description{
    margin-top: -10%;
    margin-left: 13%;
    margin-bottom: 14%;
} */
/* Ayushi CSS */
