/* Suraj css */
/* Suraj css */
.UPIContainer {
  display: flex;
  flex-direction: column;
  width: 30%;
  background: white;
  border-radius: 13px;
  margin-left: 2%;
  margin-bottom: 9%;
  margin-top: 2%;
  /* box-shadow: 4px 10px 11px; */
}

.UPIContents {
  margin-left: 7%;
  margin-top: 10%;
  /* margin-bottom: 51%; */
  height: 88px;
}

.ui.input {
  font-size: 96%;
  width: 91%;
}

.UPIImage {
  margin-top: 12%;
  margin-left: 12%;
  /* margin-right: 0%; */
  width: 338%;
}

.PaymentButton {
  margin-left: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/* .PaymentButton .ui.payment button {
  background: darkblue !important;
  color: white !important;
} */
#paymentbuttonLast {
  background: linear-gradient(
    90deg,
    rgba(77, 77, 230, 1) 8%,
    rgba(77, 77, 230, 1) 21%,
    rgba(91, 91, 246, 1) 49%,
    rgba(91, 91, 246, 1) 86%
  ) !important;
  color: white !important;
}
#paymentbuttonLast:hover {
  background: linear-gradient(
    90deg,
    rgb(101, 101, 240) 8%,
    rgb(102, 102, 236) 21%,
    rgb(117, 117, 245) 49%,
    rgb(109, 109, 236) 86%
  ) !important;
}
/* .ui.button {
  background-color: cadetblue;
} */
/* 
.UPIHeading{
  margin-top: -8%;
  margin-left: 13%;
  margin-bottom: 10%;
  color: dodgerblue;
}

.UPIImage{ */
/* width: 7% !important;
  margin-left: 3% !important; */
/* margin-top: 4% !important;
}  */
/* 
.description{
  margin-top: -10%;
  margin-left: 13%;
  margin-bottom: 14%;
} */
/* Ayushi CSS */
.creditCardContainer {
  background-color: white;
  /* box-shadow: 10px 10px 5px #aaaaaa; */
  border-radius: 22px;
  width: 88%;
  padding: 3%;
  margin-top: 5%;
  /* margin-left: 30%; */
}
.cardNumber,
.forDivision {
  margin-bottom: 2%;
}
.cardNumber input,
.cardName input {
  border: 1px solid grey;
  border-radius: 4px;
  width: 58%;
  padding: 1.5%;
}
/* .cardNumber input ::placeholder {
color: grey !important;
} */
.forDivision {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  margin-top: 3%;
}
.monthContainer input {
  width: 33%;
  border-radius: 4px;
  border: 1px solid grey;
  padding: 2%;
}
/* .cvvContainer input {
  width: 100% !important;
  border-radius: 4px;
  border: 1px solid grey;
  padding: 4.5% !important;
} */
.monthContainer select {
  width: 42% !important;
  background: white;
  border: 1px solid black;
  border-radius: 4px;
  width: 51%;
  padding: 1.5%;
  margin: 0.5%;
}
.monthContainer {
  margin-right: 2%;
  width: 44%;
}
.parentPayment {
  width: 70%;
  /* background: bisque; */
  padding: 3%;
  margin-left: 20%;
  margin-top: 2%;
  margin-bottom: 5%;
  background: white;
  border-radius: 22px;
}
.divideIntoTwo {
  display: grid;
  grid-template-columns: 30% 70%;
  margin-bottom: 4%;
}
.payButton button {
  margin-bottom: 1%;
  padding: 2%;
  background: white;
  width: 76% !important;
  border: none;
  transition: 0.3s;

  border-radius: 5px;
}
.payButton button:hover,
.payButtonTwo button:hover {
  transition: 0.3s;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(182, 179, 179, 0.4),
    transparent
  );
}
.choiceOfPayment {
  margin-top: 12%;
}
.choiceHeading {
  margin-bottom: 8%;
  margin-left: 7%;
}

.payButton p {
  display: inline;
}
.payButton {
  margin-top: 20%;
  margin-left: 20%;
}
.payButtonTwo button {
  margin-bottom: 1%;
  padding: 2%;
  background: white;
  width: 76% !important;
  border: none;
  border-radius: 5px;
  margin-left: 16%;
}
.payButtonTwo p {
  display: inline;
}
.PaymentButton button {
  padding: 6% 8% !important;
  background: #4040d8 !important;
  color: white !important;
  font-size: 17px !important;
}

/* Ayushi CSS */
.creditCardContainer {
  background-color: white;
  /* box-shadow: 10px 10px 5px #aaaaaa; */
  border-radius: 22px;
  width: 100%;
  padding: 3%;
  margin-top: 12%;
  /* margin-left: 30%; */
}
.cardNumber,
.forDivision {
  margin-bottom: 2%;
}
.cardNumber input,
.cardName input {
  border: 1px solid grey;
  border-radius: 4px;
  width: 70%;
  padding: 1.5%;
}
/* .cardNumber input ::placeholder {
  color: grey !important;
} */
.forDivision {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  margin-top: 3%;
}
.monthContainer input {
  width: 33%;
  border-radius: 4px;
  border: 1px solid grey;
  padding: 2%;
}
.cvvContainer input {
  width: 100%;
  border-radius: 4px;
  border: 1px solid grey;
  padding: 5%;
}
.monthContainer select {
  width: 30% !important;
  background: white;
  border: 1px solid black;
  border-radius: 4px;
  width: 51%;
  padding: 3% !important;
  margin: 0.5%;
}
.monthContainer {
  margin-right: 2%;
  width: 52%;
}
.parentPayment {
  width: 70%;
  /* background: bisque; */
  padding: 3%;
  margin-left: 20%;
  margin-top: 2%;
  margin-bottom: 5%;
  background: white;
  border-radius: 22px;
}
.divideIntoTwo {
  display: grid;
  grid-template-columns: 30% 70%;
  margin-bottom: 4%;
}
.payButton button {
  margin-bottom: 9%;
  padding: 2%;
  background: white;
  width: 100% !important;
  border: none;
  border-radius: 5px;
}
.choiceOfPayment {
  margin-top: 12%;
}
.choiceHeading {
  margin-bottom: 8%;
  margin-left: -1%;
  color: darkblue;
}

.payButton p {
  display: inline;
  color: grey;
}
/* .payButton {
  margin-top: 20%;
  margin-left: 20%;
} */
.payButtonTwo button {
  display: flex;
  margin-bottom: 1%;
  padding: 2%;
  background: white;
  width: 100% !important;
  border: none;
  border-radius: 5px;
}
.payButtonTwo p {
  display: inline;
  color: grey;
  margin-top: -9%;
}
.payButtonTwo img {
  width: 22%;
}
.payButtonTwo {
  margin-left: -6%;
}
.imageAndUpi {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}
.imageAndCredit {
  display: flex;
}
.cardNumber label,
.cardName label,
.monthContainer label,
.cvvContainer label {
  font-size: 16px;
}
.parentPaymentFirst {
  margin-left: 12%;
}
